* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
}


#onlineUsers {
	position: fixed;
	width: 20%;
	height: 100%;
	border: 10px solid #000;
	background-color: white;
	top: 0;
	right: 0;
	overflow: auto;
}

#onlineUsers ul {
	padding: 0;
}

#onlineUsers li {
	font-size: 15px;
	font-family: 'Open Sans Condensed', sans-serif;
	padding: 5px;
	padding-left: 15px;
	cursor: pointer;
}

#onlineUsers li:hover {
	background-color: #DDD;
}

#chatBox {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 80%;
}

#chatBox input {
	width: 100%;
	padding: 10px;
}

#chatMessages {
	padding-right: 20%;
	padding-bottom: 38px;
}

#chatMessages p, #chatBox input {
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
}

#mask {
	position: absolute;
	top: 0;
	left: 0;
	background-color: white;
	width: 100%;
	height: 100%;
	z-index: 100;
	opacity: 0.9;
}
